<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item margin-top-element" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/aes')" (tap)="onNavItemTap('/aes')">
                    <Label col="0" text="&#xf023;" class="fa"></Label>
                    <Label col="1" text="AES" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/hashing')" (tap)="onNavItemTap('/hashing')">
                    <Label col="0" text="&#xf023;" class="fa"></Label>
                    <Label col="1" text="Hashing" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/des')" (tap)="onNavItemTap('/des')">
                    <Label col="0" text="&#xf129;" class="fa"></Label>
                    <Label col="1" text="DES" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/tdes')" (tap)="onNavItemTap('/tdes')">
                    <Label col="0" text="&#xf129;" class="fa"></Label>
                    <Label col="1" text="Triple DES" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/rsa')" (tap)="onNavItemTap('/rsa')">
                    <Label col="0" text="&#xf129;" class="fa"></Label>
                    <Label col="1" text="RSA" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/blowfish')" (tap)="onNavItemTap('/blowfish')">
                    <Label col="0" text="&#xf129;" class="fa"></Label>
                    <Label col="1" text="Blowfish" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/twofish')" (tap)="onNavItemTap('/twofish')">
                    <Label col="0" text="&#xf129;" class="fa"></Label>
                    <Label col="1" text="Twofish" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/md5')" (tap)="onNavItemTap('/md5')">
                    <Label col="0" text="&#xf129;" class="fa"></Label>
                    <Label col="1" text="MD5" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
