<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Triple DES"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout>

            <Label class="page-text" text="In cryptography, Triple DES is a block cipher created from the Data Encryption Standard (DES) cipher by using it three times. Triple DES is also known as TDES or, more standard, TDEA (Triple Data Encryption Algorithm)." textWrap="true"></Label>
            <Label class="page-text" text="When it was discovered that a 56-bit key of DES is not enough to protect from brute force attacks, TDES was chosen as a simple way to enlarge the key space without a need to switch to a new algorithm. The use of three steps is essential to prevent meet-in-the-middle attacks that are effective against double DES encryption.." textWrap="true"></Label>
            <Label class="page-text" text="By design, DES and therefore TDES, suffer from slow performance in software. TDES is better suited to hardware implementations, which are many of the places it is still used." textWrap="true"></Label>

        </StackLayout>
    </ScrollView>
</GridLayout>